.posts_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    padding: 15px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.post > button {
    margin-left: 10px;
}
